<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta charset="utf-8">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="//d5wfroyti11sa.cloudfront.net/prod/client/ts-11.0.0-beta.11.min.css"/>
<script
	src="//d5wfroyti11sa.cloudfront.net/prod/client/ts-11.0.0-beta.11.min.js"></script>
<script src="webjars/jquery/jquery.min.js"></script>
<script src="webjars/angularjs/angular.js"></script>
<script src="webjars/angular-translate/angular-translate.js"></script>
<script
	src="webjars/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="scripts/util.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controller.js"></script>
</head>
<body ng-app="app" ng-controller="invoiceController">
<div data-ts="App">
	<div data-ts="Main">
	<div data-ts="Content">
	<div data-ts="Panel">
	<div id="tab0" ng-show="showTab == 0">
		<form data-ts="Form" >
			<fieldset class="ts-multi">
				<label for="stag">
					<span translate="Index.Stag">Stag</span>
					<select ng-model="queryParam.stag">
						<option ng-repeat="tag in stagOptions" value="{{tag.value}}">{{tag.text}}</option>
					</select>
				</label>
				<label for="state">
					<span translate="Index.State">State</span>
					<select multiple ng-model="queryParam.processStates" id="stateOptions">
						<option ng-repeat="state in stateOptions" value="{{state.value}}">{{state.text}}</option>
				</select>
				</label>
			</fieldset>
			<fieldset class="ts-multi">
				<label for="issuedDateStart">
					<span translate="Index.MinIssueDate">Issued Date (start)</span>
					<input type="date" ng-model="queryParam.minIssueDate" />
				</label>
				<label for="issuedDateEnd">
					<span translate="Index.MaxIssueDate">Issued Date (end)</span>
					<input type="date" ng-model="queryParam.maxIssueDate" />
				</label>
			</fieldset>
			<fieldset class="ts-multi">
				<label for="createdDateStart">
					<span translate="Index.CreatedAfter">Created Date (start)</span>
					<input type="date" ng-model="queryParam.createdAfter" />
				</label>
				<label for="createdDateEnd">
					<span translate="Index.CreatedBefore">Created Date (end)</span>
					<input type="date" ng-model="queryParam.createdBefore" />
				</label>
			</fieldset>
			<div style="padding:10px 10px;margin-right:0px">
			<button data-ts="Button" class="ts-primary" ng-click="submitForm()">
				<span translate="Index.Search">Search</span>
			</button>
			<button data-ts="Button" class="ts-secondary" ng-click="clearForm()">
				<span translate="Index.ClearForm">Clear Form</span>
			</button>
			</div>
		</form>
		<div data-ts="Table" id="invoice-table"></div>
	</div>
	</div>
	</div>
	</div>
	<aside data-ts="Aside" data-ts.open="false" id="invoiceDetailAside" style='width:400px'>
		<div data-ts="Panel">
		</div>
	</aside>
</div>
</body>
</html>